/* @import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap'); */

@font-face{
    font-family : shabnam;
    src : url('../public/fonts/Shabnam.ttf') 
}

*{
    margin: 0 ; 
    padding: 0 ;
}

body{ 
    font-family: shabnam;
    direction: rtl;
    text-align: right
}